*
{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  li{
    display: inline;
    
  }

.div1{
    border: 5px outset red;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .nav {
    border: 2px solid rgb(230, 214, 214);
    margin: ;
    box-shadow: 20px;
    border-spacing: 5px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:end;
    word-spacing: 20px;
    /* text-decoration: none; */
  }
  .nav a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

    background-color: rgb(27, 64, 106);
    color: white;
    /* margin: 2px; */
  }
  